<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/main/Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
# SoftBank Stock data from Stooq.com 
# reference https://seanmemo.com/234/

import datetime
from datetime import timedelta
from pandas_datareader import data
days = input("範囲指定:")
today = datetime.date.today()
#start = '2023-04-01'
start = today - timedelta(float(days))
end = today
df = data.DataReader('7974.JP', 'stooq', start, end)

In [28]:
df

            Open  High   Low  Close   Volume
Date
2023-04-25  5590  5736  5566   5649  7607900
2023-04-24  5511  5604  5490   5591  4516600
2023-04-21  5531  5554  5506   5520  3606000