<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/main/Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
# SoftBank Stock data from Stooq.com 
# reference https://seanmemo.com/234/

import datetime
from datetime import timedelta
from pandas_datareader import data
today = datetime.date.today()
#start = '2023-04-01'
start = today - timedelta(30)
end = today
df = data.DataReader('9984.JP', 'stooq', start, end)

In [23]:
df

            Open  High   Low  Close    Volume
Date
2023-04-25  5039  5065  5018   5030   5705100
2023-04-24  5035  5119  5032   5054   8114700
2023-04-21  5025  5050  4975   4996   9374800
2023-04-20  5132  5141  5061   5094   8067900
2023-04-19  5190  5235  5139   5179   7132800
2023-04-18  5150  5214  5148   5186   6534000
2023-04-17  5120  5178  5120   5173   6198700
2023-04-14  5228  5229  5091   5120  11312800
2023-04-13  5145  5273  5121   5128  10389800
2023-04-12  5223  5311  5171   5178   9752200
2023-04-11  5139  5155  5102   5102   6772200
2023-04-10  5189  5190  5084   5100   7831400
2023-04-07  5230  5257  5146   5169   7031900
2023-04-06  5189  5245  5147   5228   9276900
2023-04-05  5261  5315  5193   5213  10338500
2023-04-04  5210  5254  5168   5244   8109900
2023-04-03  5260  5278  5194   5218   9469300
2023-03-31  5137  5298  5111   5182  17111600
2023-03-30  5190  5218  5035   5084  13158900
2023-03-29  5088  5205  5050   5190  17838400
2023-03-28  4992  4993  4831   4888   9577800
2023-03-27  4990  5004  4942   4957   5869700